/* element css */
body,
html {
	height: 100%;
	font-family: "PT Sans Narrow", sans-serif;
}
h3 {
	color: black;
}
header {
	text-align: center;
	color: whitesmoke;
}

select {
	text-align: center;
	text-align-last: center;
	width: 200px;
	padding-right: 30px;
	margin: 0 auto;
}

.col .row {
	display: flex;
}

option {
	text-align: center;
}

/* id css */
#container {
	background: rgba(0, 0, 0, 0.4);
	background-size: cover;
	height: 100vh;
}

#map-display {
	height: 100%;
}

#selectState {
	display: block !important;
	text-align: center;
}

#submitBtn {
	background-color: #21b14ad2;
}

/* class css */
.nav-wrapper {
	background-color: #21b14ad2;
}
.brand-logo {
	font-size: larger;
}
.home {
	background: url("../images/Yellowstone-National-Park-USA.jpg") no-repeat
		center center fixed;
	background-size: cover;
}

.selectOptions {
	text-align: center;
	width: 100%;
}

.btn {
	font-family: "Josefin Sans", sans-serif !important;
	letter-spacing: 2px;
}

.title {
	justify-content: center;
}

.menu {
	display: none;
}

.mySlides {
	display: none;
}

/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: xx-small;
	padding: 3%;
	position: absolute;
	bottom: 7%;
	width: 100%;
	text-align: left;
}

.active {
	background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px;
	}
}

.txtLoading {
	color: #ffffff;
}

.card-body {
	margin: 1%;
}

.below {
	color: navy;
	padding: 3%;
}

.carousel {
	background-color: lightslategray;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
.weather {
	background-color: lightskyblue;
}
.parks {
	padding: 3% 3%;
}

.centerMiddle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

nav .brand-logo {
	font-size: 95%
}
