/* heading class */
body,
html {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

.menu {
  display: none;
}

.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("ppbckgrd.jpeg");
  background-position: center;
  min-height: 90%;
}

.subtitle-homepage {
  background: linear-gradient(
    90deg,
    rgba(119, 148, 121, 0.4662640056022409) 23%,
    rgba(137, 166, 106, 0.5662640056022409) 78%
  );
}

/* park list */
.loader {
  border: 16px solid #a8fe84; /* Light green */
  border-top: 16px solid #2d5334; /* green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  align-items: center;
}

.card-body {
  margin: 1%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.parks {
  padding: 3% 3%;
}
@media all and (max-width: 980px) {
  .container {
      display: flex;
      align-items: flex-start;
  }
  .row {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
}
@media all and (max-width: 768px) {
  .container {
      display: flex;
      align-items: flex-start;
  }
  .row {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
}